<div class="doctor-card-wrapper-container">
    <div class="doctor-card-container">
        <div>
            <div class="name-container">
                {{doctorCardDetails && doctorCardDetails.name}}
            </div>
            <div class="age-container">
                {{doctorCardDetails && doctorCardDetails.age}}
            </div>
            <div class="gender-container">
                {{doctorCardDetails && doctorCardDetails.gender}}
            </div>
            <div class="speciality-container">
                {{doctorCardDetails && doctorCardDetails.speciality}}
            </div>
        </div>
    </div>
</div>